@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply px-9 bg-slate-900;
}

.content {
  display: none
}

.active-content {
  display: flex;
}

.tabs:hover {
  cursor: pointer;
}

.active-tabs {
  background-color: aliceblue;
  @apply text-green-400;
}

.blur {
  position: fixed;
  filter: blur(5px);
  
}


#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 600px; */
  box-shadow: 0 5px 30px rgba(0,0,0,.30);
  @apply bg-slate-900;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

/* #popup.active {
 top: 50%;
 visibility: visible;
 opacity: 1;
 transition: 0.5s;
} */
